@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=PT+Sans+Caption&display=swap');

.home-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 80%;
    margin-top: 60px;
    margin-bottom: 450px;
}

.img-logo {
    width: 200px;
    ;
}

.titulo {
    font-size: 50px;
    font-family: 'Comfortaa', cursive;
    font-family: 'PT Sans Caption', sans-serif;
}

.subtitulo {
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
    font-family: 'PT Sans Caption', sans-serif;
}